

body{
  background-image: url("https://staticg.sportskeeda.com/editor/2023/01/d8fe6-16732943975102-1920.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;  
}




.grid-container {

  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 250px 250px 250px ;
  gap: 50px;
  justify-content: center;
  align-items: center;

}


.grid-container > div {

  display: grid;
  justify-content:center ;
  padding-bottom: 15px;
}

#b-1 img{
  height: 210px;
}

#b-2 img{
  height: 220px;
}

#b-3 img{
  height: 230px;
}

#b-4 img{
  height: 200px;
}

#b-5 img{
  height: 230px;
}

#b-6 img{
  height: 210px;
}

#b-7 img{
  height: 210px;
}

#b-8 img{
  height: 230px;
}

#b-9 img{
  height: 220px;
}


@media all and (max-width: 859px) {

  body{
  background-size: 100% 100%;
  background-position: top;
  background-repeat: repeat-y;
  background-size: contain;
}

  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media all and (max-width: 480px) {
  body{
    background-size: 100% 100%;
    /* background-position: top; */
    /* background-repeat: repeat-y; */
    background-size: contain;
  }

  /* #b-1 img{
    height: 140px;
  }
  
  #b-2 img{
    height: 140px;
  }
  
  #b-3 img{
    height: 140px;
  }
  
  #b-4 img{
    height: 140px;
  }
  
  #b-5 img{
    height: 140px;
  }
  
  #b-6 img{
    height: 140px;
  }
  
  #b-7 img{
    height: 140px;
  }
  
  #b-8 img{
    height: 140px;
  }
  
  #b-9 img{
    height: 140px;
  } */

  #b-1{
    position: relative;
    bottom: 10px;
  }
  #b-2{
    position: relative;
    bottom: 50px;
  }

  #b-3{
    position: relative;
    bottom: 80px;
  }

  #b-4{
    position: relative;
    bottom: 100px;
  }

  #b-5{
    position: relative;
    bottom: 120px;
  }

  #b-6{
    position: relative;
    bottom: 140px;
  }

  #b-7{
    position: relative;
    bottom: 150px;
  }

  #b-7{
    position: relative;
    bottom: 150px;
  }

  #b-8{
    position: relative;
    bottom: 170px;
  }

  #b-9{
    position: relative;
    bottom: 200px;
  }

  .grid-container {
    grid-template-columns: repeat(1,1fr); 
  }
}

